<div class="input">
  <label class="input__container" for={{name}}>
    <input class="input__element {{style}}" placeholder="" name={{name}} type={{type}} />
    <div class="input__label">{{label}}</div>
  </label>
  <span class="input__error">{{errors}}</span>
</div>
