<div class="chat-container">
  <div class="chat-container__item">
    <div>
      {{{ChatAvatar chatId=id img=avatar}}}
    </div>
    <div class="content">
      <div class="content__info">
        <p class="content__user">{{name}}</p>
        <span class="content__time">{{time}}</span>
      </div>
      <div class="content-detail">
        <div class="content-detail__message">
          {{#if isYourMessage}}
            <span class="content-detail__message-your">Вы: </span>
          {{/if}}
          {{message}}
        </div>
        {{#if count}}
          <span class="content-detail__message-count">{{count}}</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>
