<div class="messages-container">
  <!-- Список чатов -->
  <div class="list-messages">
    {{{Button type="link" label="Выйти" onClick=logout}}}
    <div class="link-container">
      <div>
        {{{Button type="link" label="Создать переписку" onClick=openDialog}}}
      </div>
      <div>
        {{{Link label="Профиль" onClick=goProfile}}}
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
    {{{ DialogCreateChat onSave=onSave onClose=closeDialog ref="createChat"}}}
    {{{ SearchField }}}
    {{#each chats}}
    {{{ ChatCard name=this.title time=this.last_message.time message=this.last_message.content id=this.id user=this.last_message.user
    count=this.unread_count onClick=../setActiveChat ref=chat}}}
    {{/each}}
  </div>
  <!-- Сам чат -->
  {{#if currentChat}}
  <div class="messages">
    {{{ MessageHeader name=currentChat.name}}}
    <div class="messages__date">
      19 июня
    </div>
    <div class="messages__content">
      {{#each messages}}
      {{{ Message text=this.content time=this.time userId=this.user_id type=this.type checked=this.checked img =
      this.img}}}
      {{/each}}
    </div>
    <div class="messages__send">
      <img src="assets/clip.svg" alt="Прикрепить" class="clip" />
      {{#if TooltipClipActive}}
      {{#> Tooltip style="bottom:70px; left:0" }}
      <div class="tooltip-option">
        <img src="assets/picture.svg" alt="picture" />
        <span class="option-name">Фото или видео</span>
      </div>
      <div class="tooltip-option">
        <img src="assets/file.svg" alt="file" />
        <span class="option-name">Файл</span>
      </div>
      <div class="tooltip-option">
        <img src="assets/location.svg" alt="location" />
        <span class="option-name">Локация</span>
      </div>
      {{/Tooltip}}
      {{/if}}
      {{{ MessageField ref="message" validate=validate.message}}}
      {{{MessageSend onClick=onSend}}}
    </div>
  </div>
  {{else}}
  <div class="prompt">
    <span>Выберите чат чтобы отправить сообщение</span>
  </div>
  {{/if}}
  {{#Modal open=isModalAddUser}}
  <form method="dialog">
    <h3>Добавить пользователя</h3>
    {{{ InputField label="ID пользователя" type="text" name="login-modal" ref="userId"}}}
    {{{Button label="Добавить" type="primary" onClick=addUser}}}
    {{{ Button
    label="отменить"
    type="link"
    onClick=onCloseModalAddUser
    }}}
  </form>
  {{/Modal}}
  {{#Modal open=isModalDeleteUser}}
  <form method="dialog">
    <h3>Удалить пользователя</h3>
    {{{ InputField label="ID пользователя" type="text" name="login-modal" ref="userIdDel" }}}
    {{{Button label="Удалить" type="primary" onClick=deleteUser}}}
    {{{ Button
    label="отменить"
    type="link"
    onClick=onCloseModalDeleteUser
    }}}
  </form>
  {{/Modal}}
</div>
