<div class="profile">
    {{{ButtonComeback onClick=onGoProfile}}}

    <!-- Режим редактирования пароля -->
    <div class="user-info">
        <div class="user-info__detail">
             {{{UserAvatar img=user.avatar}}}
        </div>
        <form>
            {{{ProfileInput name="oldPassword" type="password" label="Старый пароль" value=""
            ref="oldPassword" validate=validate.password}}}
            {{{ProfileInput name="newPassword" type="password" label="Новый пароль" value=""
            ref="newPassword" validate=validate.password}}}
            {{{ProfileInput name="newPasswordRepeat" type="password" label="Повторите новый пароль"
            value="" ref="newPasswordRepeat" validate=validate.password}}}
            {{{ ErrorLine error=error ref="error"}}}
            <div class="profile-button profile-button__save"> {{{ Button label="Сохранить" type="primary"
                onClick=onSavePassword}}}</div>
        </form>
    </div>


</div>
